<!-- <header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <a href="home" class="logo">Donation Store</a>
                  <ul class="nav">
                      <li class="scroll-to-section"><a href="home" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="donations">Doações</a></li>
                      <li class="scroll-to-section"><a href="registerDonation">Doar</a></li>
                      <li class="scroll-to-section"><a href="#frequently-question">Frequently Questions</a></li>
                      <li class="submenu">
                          <a href="javascript:;">Drop Down</a>
                          <ul>
                              <li><a href="">About Us</a></li>
                              <li><a href="">Features</a></li>
                              <li><a href="">FAQ's</a></li>
                              <li><a href="">Blog</a></li>
                          </ul>
                      </li>
                      <li *ngIf="!userName"class="scroll-to-section"><a href="login">Login</a></li>
                      <li *ngIf="userName"  class="submenu">
                        <a href="javascript:;">Olá {{ userName }} </a>
                        <ul>
                            <li><a href="">😄 Meu perfil</a></li>
                            <li><a href="">🤲 Minhas doações</a></li>
                            <li><a href="">💬 Mensagens</a></li>
                            <li><a href="">🚪 Sair</a></li>
                        </ul>
                      </li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
              </nav>
          </div>
      </div>
  </div>
</header> -->

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <p class="copyright white">&copy; Copyright 2022 <a rel="nofollow" class="white" target="_blank" href="https://templatemo.com">Igor Matheus de Souza</a></p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

