<div class="container container-donations py-3">

  <div class="begin-content">
    <div>
      <div class="grid second-nav">
        <div class="column-xs-12">
          <nav>
            <ol class="breadcrumb-list">
              <li class="breadcrumb-item">doações</li>
              <li class="breadcrumb-item">busca</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12 col-sm-12 row">
          <div class="col-lg-2 col-md-2 col-sm-0 mb-2">

          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 mb-3">
            <input [(ngModel)]="searchModel.searchWord" type="text" class="form-control form-control-user margin-left" placeholder="Pesquise algo como livro, camisa, mesa..." name="busca-objeto">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 mb-3">
            <input [(ngModel)]="searchModel.searchLocal" type="text" class="form-control form-control-user margin-left" placeholder="Busque em um bairro ou cidade" name="cidade">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 mb-2">
            <button class="btn btn-primary btn-user btn-block margin-left" (click)="searchDonations()">
              Buscar
            </button>
          </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="map">

        </div>
      </div>
      <div class="col-md-6 main-box" id="style-7">
        <!-- Card Start -->
        <div *ngIf="mainDonations.length == 0 && !loader" class="text-center">
          <span class="mr-2 d-lg-inline text-gray-600 small">
            Nenhuma doação encontrada
          </span>
        </div>
        <div class="card card-donation border-bottom-primary" *ngFor="let item of mainDonations">
          <div class="row">
            <div class="col-md-5 col-5">
              <div id="CarouselTest" class="carousel slide box" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block img-donation" src="{{item.images[0]?.fileUrl}}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-7 px-3">
              <div class="card-block">
                <a [routerLink]="['/donation',item.id]">
                  <h5 class="card-title font-16 font-13-sm">{{item.title}} </h5>
                  <span class="card-text"><span class="btn btn-info btn-icon-split font-14 font-11-sm">Status: {{item.status == DonationEnum.Active ? 'ativo' : 'Em progresso'}}</span></span>
                  <h6 class="card-text card-text-description font-14 font-11-sm">{{item.description.substr(0, 100) + '...'}}</h6>
                  <div href="#" class="small font-11-sm location-info">
                    <span class="location-info">{{item.district}} - {{item.city}} - {{item.state}} <br> {{ item.creationDate | date:'dd/MM/yyyy HH:mm' }}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<br>
<br>
<app-loader [activeLoader]="loader"></app-loader>
